[submodule "dep/microPython_TMC5160"]
	path = dep/microPython_TMC5160
	url = https://github.com/GuaiGuaiOnMyComputer/microPython_TMC5160.git
[submodule "dep/BIGTREETECH-Stepper-Motor-Driver"]
	path = dep/BIGTREETECH-Stepper-Motor-Driver
	url = https://github.com/bigtreetech/BIGTREETECH-Stepper-Motor-Driver.git
[submodule "test/tmc2209-with-arduino-uno/dep/TMC2209"]
	path = test/tmc2209-with-arduino-uno/dep/TMC2209
	url = https://github.com/janelia-arduino/TMC2209.git
