[submodule "dep/BIGTREETECH-Stepper-Motor-Driver"]
	path = dep/BIGTREETECH-Stepper-Motor-Driver
	url = https://github.com/bigtreetech/BIGTREETECH-Stepper-Motor-Driver.git
[submodule "dep/arduinounostepper_TMC2209/dep/TMC2209"]
	path = dep/arduinounostepper_TMC2209/dep/TMC2209
	url = https://github.com/janelia-arduino/TMC2209.git
